.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.bg {
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
.icon {
    color: #080808;
}

p,
.butt {
    color: rgba(8, 8, 8, 0.5);
}

.selected {
    background-color: rgba(8, 116, 242, 0.05);
    border-width: 3px;
    border-color: #0874F2;
}

.selected p {
    color: #0874F2;
}